In [1]:
import pandas as pd

In [2]:
df_23 = pd.read_excel('https://ons-aws-prod-opendata.s3.amazonaws.com/dataset/balanco_programacao_diaria_tm/BALANCO_PROGRAMACAO_DIARIA_2023.xlsx')
df_24 = pd.read_excel('https://ons-aws-prod-opendata.s3.amazonaws.com/dataset/balanco_programacao_diaria_tm/BALANCO_PROGRAMACAO_DIARIA_2024.xlsx')

In [3]:
df = pd.concat([df_23, df_24]).reset_index(drop=True)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58176 entries, 0 to 58175
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id_subsistema      58176 non-null  object
 1   nom_subsistema     58176 non-null  object
 2   din_instante       58176 non-null  datetime64[ns]
 3   val_gerhidraulica  58176 non-null  int64
 4   val_gertermica     58176 non-null  int64
 5   val_gereolica      58176 non-null  int64
 6   val_gersolar       58176 non-null  int64
 7   val_gerpch         58176 non-null  int64
 8   val_gerpct         58176 non-null  int64
 9   val_germmgd        58176 non-null  int64
 10  val_carga          58176 non-null  int64
dtypes: datetime64[ns](1), int64(8), object(2)
memory usage: 4.9+ MB

In [5]:
df['mes'] = df.din_instante.dt.month

In [6]:
df.head()

,id_subsistema,nom_subsistema,din_instante,val_gerhidraulica,val_gertermica,val_gereolica,val_gersolar,val_gerpch,val_gerpct,val_germmgd,val_carga,mes
0,N,Norte,2023-04-29 00:00:00,14980,643,61,0,65,232,0,7505,4
1,NE,Nordeste,2023-04-29 00:00:00,3331,113,5840,0,119,373,0,12351,4
2,S,Sul,2023-04-29 00:00:00,5291,559,900,0,899,86,0,11368,4
3,SE,Sudeste/Centro-Oeste,2023-04-29 00:00:00,30684,3121,3,0,2707,2063,0,38868,4
4,N,Norte,2023-04-29 00:30:00,14530,643,51,0,65,232,0,7451,4

In [7]:
df_setor.groupby('mes')['val_carga'].transform('mean')

NameError: name 'df_setor' is not defined

In [ ]:
import plotly.graph_objects as go

for i, setor in enumerate(df.id_subsistema.unique()):
    df_setor = df[df.id_subsistema == setor]
    
    # Calcular a média dos valores de carga para o setor
    

    df_setor['val_gertotal'] = df_setor.apply(lambda x: 
                                                      x['val_gerhidraulica'] +
                                                      x['val_gertermica'] +
                                                      x['val_gereolica'] +
                                                      x['val_gersolar'] +
                                                      x['val_gerpch'] +
                                                      x['val_gerpct'] +
                                                      x['val_germmgd']
                                                      , axis=1)
    
    df_setor['din_media_mes_val_carga'] = df_setor.groupby('mes')['val_carga'].transform('mean')

    df_setor['din_media_mes_val_gertotal'] = df_setor.groupby('mes')['val_gertotal'].transform('mean')
    
    # Criar o gráfico
    fig = go.Figure()
    
    # Adicionar linha para os valores de carga
    fig.add_trace(go.Scatter(x=df_setor['din_instante'], y=df_setor['val_carga'], mode='lines', name='Valores de Carga'))

    fig.add_trace(go.Scatter(x=df_setor['din_instante'], y=df_setor['val_gertotal'], mode='lines', name='Valores de Geração'))
    
    # Adicionar linha para a média de carga
    fig.add_trace(go.Scatter(x=df_setor['din_instante'], y=df_setor['din_media_mes_val_carga'], mode='lines', name='Média de Carga'))

    fig.add_trace(go.Scatter(x=df_setor['din_instante'], y=df_setor['din_media_mes_val_gertotal'], mode='lines', name='Média de Geração'))
    
    # Atualizar layout
    fig.update_layout(xaxis_title='Dia', yaxis_title='Carga', title=f'Carga Mensal - {df.nom_subsistema[i]}', legend=dict(yanchor="top", y=0.99, xanchor="left", x=0.01))
    
    # Exibir o gráfico
    fig.show()

In [ ]:
df.columns

In [ ]:
import numpy as np
import pandas as pd
import tensorflow as tf
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

# Carregar dados
# Suponha que você tenha um DataFrame df com suas colunas de data e hora, carga e geração

# Supondo que 'data_hora' é a coluna de data e hora
# Supondo que 'carga' é a coluna de carga
# Supondo que 'geracao' são as colunas de geração

# Normalizar os dados
scaler = MinMaxScaler()
df[['val_carga', 'geracao']] = scaler.fit_transform(df[['val_carga', 'geracao']])

# Dividir os dados em treinamento e teste
X = df[['val_carga', 'geracao']].values
y = df['carga'].values

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Construir o modelo MLP
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(64, activation='relu'),
    Dense(1)
])

# Compilar o modelo
model.compile(optimizer='adam', loss='mse')

# Treinar o modelo
model.fit(X_train, y_train, epochs=50, batch_size=32, verbose=2)

# Avaliar o modelo
loss = model.evaluate(X_test, y_test)
print(f'Loss: {loss}')

# Fazer previsões futuras
# Suponha que você tem um DataFrame df_futuro com os dados futuros de geração
# Normalize os dados do DataFrame df_futuro da mesma maneira que você normalizou os dados de treinamento
# Faça previsões com o modelo
predictions = model.predict(df_futuro[['carga', 'geracao']])

# As previsões serão na mesma escala que os dados de treinamento. Se necessário, inverta a normalização para obter os valores reais.
predictions = scaler.inverse_transform(predictions)